<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>UpdateManagerServlet</servlet-name>
        <servlet-class>servlet.UpdateManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffReplyServlet</servlet-name>
        <servlet-class>servlet.StaffReplyServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>CustomerDeletionService</servlet-name>
        <servlet-class>service.CustomerDeletionService</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateManagerServlet</servlet-name>
        <url-pattern>/UpdateManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePromotionServlet</servlet-name>
        <servlet-class>servlet.UpdatePromotionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePromotionServlet</servlet-name>
        <url-pattern>/UpdatePromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <servlet-class>servlet.DeletePromotionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <url-pattern>/DeletePromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreatePromotionServlet</servlet-name>
        <servlet-class>servlet.CreatePromotionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePromotionServlet</servlet-name>
        <url-pattern>/CreatePromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProcessPayServlet</servlet-name>
        <servlet-class>servlet.ProcessPayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessPayServlet</servlet-name>
        <url-pattern>/ProcessPayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editStaffManagerServlet</servlet-name>
        <servlet-class>servlet.editStaffManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editStaffManagerServlet</servlet-name>
        <url-pattern>/editStaffManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editStaffServlet</servlet-name>
        <servlet-class>servlet.editStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editStaffServlet</servlet-name>
        <url-pattern>/editStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>servlet.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>servlet.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>servlet.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>servlet.AddStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>servlet.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>servlet.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/UpdateOrderStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>servlet.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Product</servlet-name>
        <servlet-class>servlet.Admin_Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletMgn</servlet-name>
        <servlet-class>servlet.LoginServletMgn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletStaff</servlet-name>
        <servlet-class>servlet.LoginServletStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetMgnServlet</servlet-name>
        <servlet-class>servlet.ResetMgnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetStaffServlet</servlet-name>
        <servlet-class>servlet.ResetStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetMgnServlet</servlet-name>
        <servlet-class>servlet.ForgetMgnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetStaffServlet</servlet-name>
        <servlet-class>servlet.ForgetStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewHistoryServlet</servlet-name>
        <servlet-class>servlet.ReviewHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CFeedbackReviewServlet</servlet-name>
        <servlet-class>servlet.CFeedbackReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>servlet.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>servlet.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReplyServlet</servlet-name>
        <servlet-class>servlet.AdminReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPaymentServlet</servlet-name>
        <servlet-class>servlet.ProcessPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>servlet.UpdateProductServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <!-- 10 MB -->
            <max-request-size>15728640</max-request-size>
            <!-- 15 MB -->
            <file-size-threshold>1048576</file-size-threshold>
            <!-- 1 MB -->
        </multipart-config>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>servlet.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>servlet.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Product</servlet-name>
        <url-pattern>/Admin_Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletMgn</servlet-name>
        <url-pattern>/LoginServletMgn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletStaff</servlet-name>
        <url-pattern>/LoginServletStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetMgnServlet</servlet-name>
        <url-pattern>/ResetMgnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetStaffServlet</servlet-name>
        <url-pattern>/ResetStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetMgnServlet</servlet-name>
        <url-pattern>/ForgetMgnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetStaffServlet</servlet-name>
        <url-pattern>/ForgetStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewHistoryServlet</servlet-name>
        <url-pattern>/ReviewHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CFeedbackReviewServlet</servlet-name>
        <url-pattern>/CFeedbackReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReplyServlet</servlet-name>
        <url-pattern>/AdminReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPaymentServlet</servlet-name>
        <url-pattern>/ProcessPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/ReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPayServlet</servlet-name>
        <url-pattern>/ProcessPayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffReplyServlet</servlet-name>
        <url-pattern>/StaffReplyServlet</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDeletionService</servlet-name>
        <url-pattern>/CustomerDeletionService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
